In [2]:
import pandas as pd

In [40]:
# corona.csv 파일을 로드
corona = pd.read_csv('../../csv/corona.csv')

In [41]:
# 데이터프레임의 정보 확인
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

In [42]:
# 결측치의 개수 확인
corona.isna().sum()

Unnamed: 0      0
createDt        0
deathCnt        0
decideCnt       0
seq             0
stateDt         0
stateTime       0
updateDt        3
accExamCnt    128
accDefRate    197
dtype: int64

In [43]:
corona.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [44]:
corona.tail()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [45]:
# 데이터프레임에서 특정 컬럼을 제외시킨다.
# 특정 컬럼을 제외하고 나머지 컬럼만 선택하여 필터링
# 특정 컬럼을 제외(버림)
# 제거 -> drop
# drop() -> axis 매개변수 : 행제거/열제거 선택
# Unnamed: 0, seq 컬럼을 제거
corona.drop(['Unnamed: 0', 'seq'], axis='columns', inplace=True)
# 인자값에 []대괄호 넣어서 다수의 데이터 한번에 적용 가능

In [46]:
corona

,createDt,deathCnt,decideCnt,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [47]:
corona.columns

Index(['createDt', 'deathCnt', 'decideCnt', 'stateDt', 'stateTime', 'updateDt',
       'accExamCnt', 'accDefRate'],
      dtype='object')

In [48]:
# 컬럼의 이름 변경
# rename() 함수 : 행이나 열의 이름을 변경하는 함수
corona.rename(
    columns = { 
        'createDt' : '등록일시',
        'deathCnt' : '총사망자',
        'decideCnt' : '총확진자',
        'stateDt' : '기준일',
        'stateTime' : '기준시간',
        'updateDt' : '수정일시',
        'accExamCnt' : '누적의심자',
        'accDefRate' : '누적확진율'
    }
)
# 위의 경우는 컬럼명이 실제 바뀌진 않고, 어떻게 바뀔지만 보여줌
corona  # 확인시 컬럼명 여전히 영어

,createDt,deathCnt,decideCnt,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [49]:

# class 안에 있는 columns 변수의 데이터 변경
corona.columns = ['등록일시', '총사망자', '총확진자', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진율']
# 컬럼명 변경됨 => 결과 안보여줌

In [50]:
corona.head(1)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [51]:
# 1차 작업 완료
# 백업본 데이터 생성
# df에 corona 데이터를 복사
df = corona.copy()

In [52]:
df.head(1)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [53]:
# 과연 누적의심자 데이터는 언제부터 수집을 하지 않았는가?
# 조건 -> 누적의심자라는 Series 데이터에서 결측치와 같음
df['누적의심자']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
815    261335.0
816    248647.0
817    234998.0
818    222395.0
819    210144.0
Name: 누적의심자, Length: 820, dtype: float64

In [54]:
flag = df['누적의심자'].isna()

In [55]:
df.loc[flag, '등록일시']

0      2022-06-08 09:09:05.982
1      2022-06-07 09:09:00.897
2      2022-06-06 09:00:06.734
3      2022-06-05 08:53:19.426
4      2022-06-04 08:56:49.219
                ...
123    2022-02-05 10:25:08.782
124    2022-02-04 08:58:40.476
125    2022-02-03 08:46:14.856
126     2022-02-02 09:04:49.92
127    2022-02-01 09:06:24.411
Name: 등록일시, Length: 128, dtype: object

- 2022년 2월 1일부터 2022년 6월 8일까지 누적의심자 데이터는 결측치

In [56]:
df.loc[128, '등록일시']
# 인덱스(128)도 단일데이터, 컬럼('등록일시')도 단일데이터
# 결과도 단일데이터(0차원) 출력

'2022-01-31 09:22:37.347'

In [57]:
df.loc[125:129]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
125,2022-02-03 08:46:14.856,6812,907200,20220203,00:00,2022-02-09 13:04:42.741,NaN,NaN
126,2022-02-02 09:04:49.92,6787,884294,20220202,00:00,2022-02-09 13:04:29.013,NaN,NaN
127,2022-02-01 09:06:24.411,6772,864026,20220201,00:00,2022-02-09 13:04:21.424,NaN,NaN
128,2022-01-31 09:22:37.347,6755,845688,20220131,00:00,2022-02-07 09:06:04.861,21518073.0,NaN
129,2022-01-30 09:13:00.269,6732,828611,20220130,00:00,2022-02-07 09:05:54.937,21448119.0,NaN

In [58]:
flag2 = df['누적확진율'].isna()

In [59]:
df.loc[flag2, '등록일시']

0      2022-06-08 09:09:05.982
1      2022-06-07 09:09:00.897
2      2022-06-06 09:00:06.734
3      2022-06-05 08:53:19.426
4      2022-06-04 08:56:49.219
                ...
192    2021-11-28 08:58:53.394
193    2021-11-27 09:32:36.026
194    2021-11-26 09:03:03.973
195    2021-11-25 09:00:47.897
196    2021-11-24 09:08:22.071
Name: 등록일시, Length: 197, dtype: object

In [60]:
df.loc[197, '등록일시']

'2021-11-23 08:59:47.863'

In [61]:
df.loc[194:198]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
194,2021-11-26 09:03:03.973,3440,432892,20211126,00:00,2021-12-02 09:06:24.138,17056003.0,NaN
195,2021-11-25 09:00:47.897,3401,428996,20211125,00:00,2021-12-02 09:06:12.94,16998733.0,NaN
196,2021-11-24 09:08:22.071,3362,425059,20211124,00:00,2021-12-02 09:06:01.826,16939923.0,NaN
197,2021-11-23 08:59:47.863,3328,420946,20211123,00:00,2021-11-30 09:06:13.348,16878955.0,2.787908
198,2021-11-22 09:07:45.615,3298,418249,20211122,00:00,2021-11-26 09:29:38.144,16816616.0,2.778249

### <데이터프레임에서 정렬 변경>
- 정렬 -> sort
- 정렬을 바꾸는 기준 : index / values
    - sort_index() : index의 값을 기준으로 정렬 변경
    - sort_vlaues() : 특정 컬럼의 값들을 기준으로 정렬 변경

In [62]:
# 데이터프레임에서 정렬 변경
# 정렬 -> sort
# 정렬을 바꾸는 기준 : index / values
# sort_index() : index의 값을 기준으로 정렬 변경
# sort_vlaues() : 특정 컬럼의 값들을 기준으로 정렬 변경

In [63]:

# 등록일시를 기준으로 오름차순 정렬
# 차순 정렬 방법 매개변수 ascending (기본값=True => 오름차순)
df.sort_values(
    ['등록일시'],
    inplace=True
)

In [64]:
df

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [65]:
# 인덱스를 초기화
# 인덱스 -> index
# 초기화 -> reset
# reset_index() 함수 사용
df.reset_index()

,index,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...,...
815,4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [66]:
df.reset_index(drop=True, inplace=True)

In [67]:
df

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [68]:
# 일일사망자의 수를 확인
# index 1의 총사망자 - index 0의 총사망자 => index 1의 일일사망자

df.loc[1, '총사망자'] - df.loc[0, '총사망자']
df.loc[2, '총사망자'] - df.loc[1, '총사망자']
# ...
df.loc[819, '총사망자'] - df.loc[818, '총사망자']

np.int64(6)

In [69]:
datas = [0]     # 일일확진자 수를 저장할 리스트

for i in range(1, len(df), 1):                  # 데이터프레임의 길이 len(df) => 인덱스의 수 len(df.index)
    data = df.loc[i, '총사망자'] - df.loc[i-1, '총사망자']
    datas.append(data)

In [70]:
datas

[0,
 np.int64(6),
 np.int64(6),
 np.int64(1),
 np.int64(5),
 np.int64(3),
 np.int64(0),
 np.int64(6),
 np.int64(3),
 np.int64(7),
 np.int64(3),
 np.int64(8),
 np.int64(2),
 np.int64(7),
 np.int64(9),
 np.int64(6),
 np.int64(5),
 np.int64(8),
 np.int64(5),
 np.int64(8),
 np.int64(6),
 np.int64(4),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(3),
 np.int64(6),
 np.int64(3),
 np.int64(6),
 np.int64(8),
 np.int64(4),
 np.int64(4),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(5),
 np.int64(3),
 np.int64(4),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(1),
 np.int64(3),
 np.int64(5),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(2),
 np.int64(5),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(5),
 np.int64(3),
 np.int64(5),
 np.int64(4),
 np.int64(0),
 np.int64(5),
 np.int64(5),
 np.int64(1),
 np.int64(5),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(5),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(5),
 np.int64(1),
 np.int64(6),
 np.int64(2),
 np.int64(1),
 np.int64(4),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(4),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(5),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(4),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(4),
 np.int64(1),
 np.int64(3),
 np.int64(2),
 np.int64(1),
 np.int64(6),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(7),
 np.int64(4),
 np.int64(5),
 np.int64(4),
 np.int64(3),
 np.int64(4),
 np.int64(8),
 np.int64(8),
 np.int64(6),
 np.int64(2),
 np.int64(7),
 np.int64(13),
 np.int64(12),
 np.int64(22),
 np.int64(11),
 np.int64(14),
 np.int64(15),
 np.int64(24),
 np.int64(24),
 np.int64(17),
 np.int64(17),
 np.int64(17),
 np.int64(20),
 np.int64(15),
 np.int64(11),
 np.int64(40),
 np.int64(20),
 np.int64(21),
 np.int64(17),
 np.int64(25),
 np.int64(20),
 np.int64(19),
 np.int64(26),
 np.int64(20),
 np.int64(19),
 np.int64(35),
 np.int64(19),
 np.int64(25),
 np.int64(15),
 np.int64(25),
 np.int64(20),
 np.int64(10),
 np.int64(22),
 np.int64(19),
 np.int64(13),
 np.int64(15),
 np.int64(19),
 np.int64(17),
 np.int64(16),
 np.int64(12),
 np.int64(9),
 np.int64(12),
 np.int64(11),
 np.int64(11),
 np.int64(7),
 np.int64(8),
 np.int64(13),
 np.int64(15),
 np.int64(6),
 np.int64(5),
 np.int64(10),
 np.int64(6),
 np.int64(7),
 np.int64(11),
 np.int64(5),
 np.int64(7),
 np.int64(3),
 np.int64(8),
 np.int64(4),
 np.int64(10),
 np.int64(11),
 np.int64(7),
 np.int64(8),
 np.int64(5),
 np.int64(7),
 np.int64(4),
 np.int64(6),
 np.int64(6),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(11),
 np.int64(3),
 np.int64(5),
 np.int64(4),
 np.int64(10),
 np.int64(8),
 np.int64(2),
 np.int64(1),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(5),
 np.int64(2),
 np.int64(8),
 np.int64(3),
 np.int64(3),
 np.int64(4),
 np.int64(10),
 np.int64(5),
 np.int64(2),
 np.int64(6),
 np.int64(3),
 np.int64(8),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(1),
 np.int64(7),
 np.int64(3),
 np.int64(2),
 np.int64(7),
 np.int64(5),
 np.int64(1),
 np.int64(4),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(4),
 np.int64(4),
 np.int64(4),
 np.int64(2),
 np.int64(6),
 np.int64(1),
 np.int64(3),
 np.int64(2),
 np.int64(5),
 np.int64(7),
 np.int64(6),
 np.int64(2),
 np.int64(4),
 np.int64(3),
 np.int64(4),
 np.int64(1),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(1),
 np.int64(1),
 np.int64(4),
 np.int64(3),
 np.int64(1),
 np.int64(4),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(1),
 np.int64(6),
 np.int64(7),
 np.int64(4),
 np.int64(9),
 np.int64(5),
 np.int64(9),
 np.int64(1),
 np.int64(4),
 np.int64(5),
 np.int64(7),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(3),
 np.int64(1),
 np.int64(8),
 np.int64(4),
 np.int64(6),
 np.int64(4),
 np.int64(5),
 np.int64(3),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(5),
 np.int64(8),
 np.int64(-2),
 np.int64(6),
 np.int64(2),
 np.int64(3),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(3),
 np.int64(3),
 np.int64(4),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(1),
 np.int64(5),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(3),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(3),
 np.int64(3),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(4),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(5),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(4),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(5),
 np.int64(4),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(4),
 np.int64(6),
 np.int64(3),
 np.int64(1),
 np.int64(5),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(3),
 np.int64(5),
 np.int64(4),
 np.int64(9),
 np.int64(1),
 np.int64(3),
 np.int64(6),
 np.int64(4),
 np.int64(8),
 np.int64(11),
 np.int64(6),
 np.int64(5),
 np.int64(13),
 np.int64(6),
 np.int64(5),
 np.int64(13),
 np.int64(7),
 np.int64(6),
 np.int64(9),
 np.int64(20),
 np.int64(8),
 np.int64(11),
 np.int64(3),
 np.int64(5),
 np.int64(1),
 np.int64(7),
 np.int64(11),
 np.int64(5),
 np.int64(7),
 np.int64(6),
 np.int64(6),
 np.int64(3),
 np.int64(4),
 np.int64(9),
 np.int64(5),
 np.int64(10),
 np.int64(1),
 np.int64(1),
 np.int64(7),
 np.int64(13),
 np.int64(6),
 np.int64(3),
 np.int64(5),
 np.int64(9),
 np.int64(6),
 np.int64(4),
 np.int64(6),
 np.int64(8),
 np.int64(7),
 np.int64(7),
 np.int64(9),
 np.int64(6),
 np.int64(8),
 np.int64(10),
 np.int64(7),
 np.int64(16),
 np.int64(7),
 np.int64(3),
 np.int64(6),
 np.int64(11),
 np.int64(12),
 np.int64(8),
 np.int64(10),
 np.int64(6),
 np.int64(15),
 np.int64(8),
 np.int64(11),
 np.int64(11),
 np.int64(13),
 np.int64(8),
 np.int64(18),
 np.int64(16),
 np.int64(8),
 np.int64(21),
 np.int64(9),
 np.int64(11),
 np.int64(16),
 np.int64(20),
 np.int64(21),
 np.int64(7),
 np.int64(15),
 np.int64(9),
 np.int64(11),
 np.int64(9),
 np.int64(13),
 np.int64(19),
 np.int64(9),
 np.int64(16),
 np.int64(18),
 np.int64(24),
 np.int64(20),
 np.int64(20),
 np.int64(11),
 np.int64(13),
 np.int64(18),
 np.int64(14),
 np.int64(21),
 np.int64(18),
 np.int64(32),
 np.int64(20),
 np.int64(12),
 np.int64(22),
 np.int64(21),
 np.int64(29),
 np.int64(28),
 np.int64(29),
 np.int64(30),
 np.int64(24),
 np.int64(30),
 np.int64(34),
 np.int64(39),
 np.int64(39),
 np.int64(52),
 np.int64(56),
 np.int64(32),
 np.int64(44),
 np.int64(34),
 np.int64(47),
 np.int64(34),
 np.int64(70),
 np.int64(43),
 np.int64(41),
 np.int64(64),
 np.int64(63),
 np.int64(57),
 np.int64(53),
 np.int64(80),
 np.int64(42),
 np.int64(40),
 np.int64(94),
 np.int64(70),
 np.int64(62),
 np.int64(73),
 np.int64(53),
 np.int64(78),
 np.int64(54),
 np.int64(52),
 np.int64(78),
 np.int64(109),
 np.int64(56),
 np.int64(105),
 np.int64(69),
 np.int64(55),
 np.int64(46),
 np.int64(36),
 np.int64(73),
 np.int64(108),
 np.int64(62),
 np.int64(69),
 np.int64(36),
 np.int64(51),
 np.int64(57),
 np.int64(49),
 np.int64(45),
 np.int64(54),
 np.int64(51),
 np.int64(34),
 np.int64(43),
 np.int64(52),
 np.int64(44),
 np.int64(49),
 np.int64(22),
 np.int64(29),
 np.int64(23),
 np.int64(45),
 np.int64(74),
 np.int64(28),
 np.int64(21),
 np.int64(28),
 np.int64(11),
 np.int64(25),
 np.int64(23),
 np.int64(32),
 np.int64(34),
 np.int64(24),
 np.int64(34),
 np.int64(20),
 np.int64(23),
 np.int64(17),
 np.int64(15),
 np.int64(25),
 np.int64(24),
 np.int64(22),
 np.int64(15),
 np.int64(13),
 np.int64(36),
 np.int64(21),
 np.int64(20),
 np.int64(49),
 np.int64(33),
 np.int64(36),
 np.int64(21),
 np.int64(61),
 np.int64(39),
 np.int64(36),
 np.int64(45),
 np.int64(71),
 np.int64(51),
 np.int64(45),
 np.int64(58),
 np.int64(99),
 np.int64(82),
 np.int64(94),
 np.int64(112),
 np.int64(49),
 np.int64(114),
 np.int64(112),
 np.int64(96),
 np.int64(128),
 np.int64(186),
 np.int64(216),
 np.int64(161),
 np.int64(139),
 np.int64(186),
 np.int64(158),
 np.int64(206),
 np.int64(229),
 np.int64(269),
 np.int64(251),
 np.int64(200),
 np.int64(293),
 np.int64(164),
 np.int64(429),
 np.int64(301),
 np.int64(319),
 np.int64(327),
 np.int64(329),
 np.int64(384),
 np.int64(291),
 np.int64(469),
 np.int64(393),
 np.int64(323),
 np.int64(282),
 np.int64(287),
 np.int64(237),
 np.int64(432),
 np.int64(375),
 np.int64(360),
 np.int64(339),
 np.int64(306),
 np.int64(218),
 np.int64(209),
 np.int64(371),
 np.int64(348),
 np.int64(373),
 np.int64(338),
 np.int64(329),
 np.int64(258),
 np.int64(171),
 np.int64(184),
 np.int64(318),
 np.int64(264),
 np.int64(273),
 np.int64(203),
 np.int64(132),
 np.int64(130),
 np.int64(166),
 np.int64(147),
 np.int64(206),
 np.int64(151),
 np.int64(109),
 np.int64(110),
 np.int64(82),
 np.int64(141),
 np.int64(122),
 np.int64(136),
 np.int64(70),
 np.int64(81),
 np.int64(83),
 np.int64(49),
 np.int64(72),
 np.int64(79),
 np.int64(48),
 np.int64(83),
 np.int64(71),
 np.int64(40),
 np.int64(62),
 np.int64(29),
 np.int64(63),
 np.int64(52),
 np.int64(55),
 np.int64(48),
 np.int64(35),
 np.int64(27),
 np.int64(31),
 np.int64(40),
 np.int64(43),
 np.int64(26),
 np.int64(54),
 np.int64(22),
 np.int64(19),
 np.int64(23),
 np.int64(34),
 np.int64(40),
 np.int64(36),
 np.int64(19),
 np.int64(9),
 np.int64(9),
 np.int64(21),
 np.int64(15),
 np.int64(17),
 np.int64(9),
 np.int64(20),
 np.int64(21),
 np.int64(20),
 np.int64(6)]

In [71]:
len(datas)

820

In [72]:
df['일일사망자'] = datas

In [73]:
df

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5
...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,9
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,20
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,6

In [74]:
df.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5

In [75]:
col = df.pop('일일사망자')
col

0       0
1       6
2       6
3       1
4       5
       ..
815     9
816    20
817    21
818    20
819     6
Name: 일일사망자, Length: 820, dtype: int64

In [76]:
df.insert(2, '일일사망자', col)
df

,등록일시,총사망자,일일사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,0,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,6,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,6,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,1,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,5,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,9,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,20,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,21,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,20,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,6,18188200,20220608,00:00,NaN,NaN,NaN