#### OpenAPI 데이터 요청
- 요청 방식
    1. params 사용: URL 끝에 ?key=value로 추가되는 방식
        - response = requests.get(url, params=params)
    2. Path Parameter: URL 경로 내에 직접 데이터 타입, 값을 넣는 방식
        - response = requests.get(url)

- 데이터 유형별 라이브러리
    1. data
        - xml -> xmltodict
        - json -> json
    2. HTML
        - 정적 -> HTML
        - 동적 -> HTML(DB, csv, xls 등)
            - 동기식: 사용자가 요청 시 전체 페이지 로드
            - 비동기식: 필요한 데이터만 요청

#### 지역별 주민등록인구 API 받아오기
- https://www.data.go.kr/data/15107303/openapi.do#/API%20%EB%AA%A9%EB%A1%9D/getRegistrationPopulationByRegion

In [7]:
import requests
import os
from dotenv import load_dotenv

In [3]:
load_dotenv()

True

- params 사용해 OpenAPI 데이터 받아오기

In [ ]:
# service_key 값이 외부에 노출되지 않음
service_key = os.getenv('service_key')
url = 'https://apis.data.go.kr/1741000/RegistrationPopulationByRegion/getRegistrationPopulationByRegion'
params = {      # 해당 주소에 보낼 데이터 값
    'ServiceKey' : service_key,
    'pageNo' : 1,
    'numOfRows' : 30
}

In [9]:
# 요청 보내는 부분
response = requests.get(url, params=params)

In [10]:
print(response)

<Response [200]>

In [11]:
print(response.content)

b'<?xml version="1.0" encoding="UTF-8"?>\n\n<RegistrationPopulationByRegion>\n  <head>\n    <totalCount>284</totalCount>\n    <numOfRows>30</numOfRows>\n    <pageNo>1</pageNo>\n    <type>XML</type>\n    <RESULT>\n      <resultCode>INFO-0</resultCode>\n      <resultMsg>NOMAL SERVICE</resultMsg>\n    </RESULT>\n  </head>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>1</seq>\n    <regi>\xea\xb3\x84</regi>\n    <population_tot>49540367</population_tot>\n    <population_man>24822897</population_man>\n    <population_female>24717470</population_female>\n    <houshol>19005339</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>2</seq>\n    <regi>\xec\x84\x9c\xec\x9a\xb8</regi>\n    <population_tot>10200827</population_tot>\n    <population_man>5061809</population_man>\n    <population_female>5139018</population_female>\n    <houshol>4097562</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>3</seq>\n    <regi>\xeb\xb6\x80\xec\x82\xb0</regi>\n    <population_tot>3564577</population_tot>\n    <population_man>1773154</population_man>\n    <population_female>1791423</population_female>\n    <houshol>1311724</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>4</seq>\n    <regi>\xeb\x8c\x80\xea\xb5\xac</regi>\n    <population_tot>2492724</population_tot>\n    <population_man>1246873</population_man>\n    <population_female>1245851</population_female>\n    <houshol>894969</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>5</seq>\n    <regi>\xec\x9d\xb8\xec\xb2\x9c</regi>\n    <population_tot>2692696</population_tot>\n    <population_man>1356473</population_man>\n    <population_female>1336223</population_female>\n    <houshol>1014755</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>6</seq>\n    <regi>\xea\xb4\x91\xec\xa3\xbc</regi>\n    <population_tot>1422702</population_tot>\n    <population_man>705817</population_man>\n    <population_female>716885</population_female>\n    <houshol>513021</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>7</seq>\n    <regi>\xeb\x8c\x80\xec\xa0\x84</regi>\n    <population_tot>1480895</population_tot>\n    <population_man>741611</population_man>\n    <population_female>739284</population_female>\n    <houshol>531682</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>8</seq>\n    <regi>\xec\x9a\xb8\xec\x82\xb0</regi>\n    <population_tot>1112407</population_tot>\n    <population_man>572815</population_man>\n    <population_female>539592</population_female>\n    <houshol>389735</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>9</seq>\n    <regi>\xea\xb2\xbd\xea\xb8\xb0</regi>\n    <population_tot>11292264</population_tot>\n    <population_man>5690673</population_man>\n    <population_female>5601591</population_female>\n    <houshol>4284475</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>10</seq>\n    <regi>\xea\xb0\x95\xec\x9b\x90</regi>\n    <population_tot>1508575</population_tot>\n    <population_man>759282</population_man>\n    <population_female>749293</population_female>\n    <houshol>606950</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>11</seq>\n    <regi>\xec\xb6\xa9\xeb\xb6\x81</regi>\n    <population_tot>1519587</population_tot>\n    <population_man>765398</population_man>\n    <population_female>754189</population_female>\n    <houshol>587411</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>12</seq>\n    <regi>\xec\xb6\xa9\xeb\x82\xa8</regi>\n    <population_tot>2018537</population_tot>\n    <population_man>1020317</population_man>\n    <population_female>998220</population_female>\n    <houshol>812871</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>13</seq>\n    <regi>\xec\xa0\x84\xeb\xb6\x81</regi>\n    <population_tot>1855772</population_tot>\n    <population_man>924770</population_man>\n    <population_female>931002</population_female>\n    <houshol>710550</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>14</seq>\n    <regi>\xec\xa0\x84\xeb\x82\xa8</regi>\n    <population_tot>1919000</population_tot>\n    <population_man>958491</population_man>\n    <population_female>960509</population_female>\n    <houshol>773087</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>15</seq>\n    <regi>\xea\xb2\xbd\xeb\xb6\x81</regi>\n    <population_tot>2673931</population_tot>\n    <population_man>1343199</population_man>\n    <population_female>1330732</population_female>\n    <houshol>1058099</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>16</seq>\n    <regi>\xea\xb2\xbd\xeb\x82\xa8</regi>\n    <population_tot>3225255</population_tot>\n    <population_man>1622127</population_man>\n    <population_female>1603128</population_female>\n    <houshol>1203767</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>17</seq>\n    <regi>\xec\xa0\x9c\xec\xa3\xbc</regi>\n    <population_tot>560618</population_tot>\n    <population_man>280088</population_man>\n    <population_female>280530</population_female>\n    <houshol>214681</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>1</seq>\n    <regi>\xea\xb3\x84</regi>\n    <population_tot>49773145</population_tot>\n    <population_man>24929939</population_man>\n    <population_female>24843206</population_female>\n    <houshol>19261292</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>2</seq>\n    <regi>\xec\x84\x9c\xec\x9a\xb8</regi>\n    <population_tot>10208302</population_tot>\n    <population_man>5059269</population_man>\n    <population_female>5149033</population_female>\n    <houshol>4116660</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>3</seq>\n    <regi>\xeb\xb6\x80\xec\x82\xb0</regi>\n    <population_tot>3543030</population_tot>\n    <population_man>1761202</population_man>\n    <population_female>1781828</population_female>\n    <houshol>1323771</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>4</seq>\n    <regi>\xeb\x8c\x80\xea\xb5\xac</regi>\n    <population_tot>2489781</population_tot>\n    <population_man>1243878</population_man>\n    <population_female>1245903</population_female>\n    <houshol>906470</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>5</seq>\n    <regi>\xec\x9d\xb8\xec\xb2\x9c</regi>\n    <population_tot>2710579</population_tot>\n    <population_man>1364809</population_man>\n    <population_female>1345770</population_female>\n    <houshol>1026936</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>6</seq>\n    <regi>\xea\xb4\x91\xec\xa3\xbc</regi>\n    <population_tot>1433640</population_tot>\n    <population_man>711091</population_man>\n    <population_female>722549</population_female>\n    <houshol>524093</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>7</seq>\n    <regi>\xeb\x8c\x80\xec\xa0\x84</regi>\n    <population_tot>1484180</population_tot>\n    <population_man>743121</population_man>\n    <population_female>741059</population_female>\n    <houshol>538100</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>8</seq>\n    <regi>\xec\x9a\xb8\xec\x82\xb0</regi>\n    <population_tot>1114866</population_tot>\n    <population_man>573607</population_man>\n    <population_female>541259</population_female>\n    <houshol>394364</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>9</seq>\n    <regi>\xea\xb2\xbd\xea\xb8\xb0</regi>\n    <population_tot>11460610</population_tot>\n    <population_man>5773569</population_man>\n    <population_female>5687041</population_female>\n    <houshol>4359467</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>10</seq>\n    <regi>\xea\xb0\x95\xec\x9b\x90</regi>\n    <population_tot>1512870</population_tot>\n    <population_man>761270</population_man>\n    <population_female>751600</population_female>\n    <houshol>617693</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>11</seq>\n    <regi>\xec\xb6\xa9\xeb\xb6\x81</regi>\n    <population_tot>1527478</population_tot>\n    <population_man>769968</population_man>\n    <population_female>757510</population_female>\n    <houshol>599204</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>12</seq>\n    <regi>\xec\xb6\xa9\xeb\x82\xa8</regi>\n    <population_tot>2037582</population_tot>\n    <population_man>1029725</population_man>\n    <population_female>1007857</population_female>\n    <houshol>827846</houshol>\n  </row>\n  <row>\n    <wrttimeid>2009</wrttimeid>\n    <seq>13</seq>\n    <regi>\xec\xa0\x84\xeb\xb6\x81</regi>\n    <population_tot>1854508</population_tot>\n    <population_man>924480</population_man>\n    <population_female>930028</population_female>\n    <houshol>720993</houshol>\n  </row>\n</RegistrationPopulationByRegion>\n\n'

In [ ]:
# # xml 데이터를 dict 형태로 바꿔주는 라이브러리 설치
# !pip install xmltodict

Collecting xmltodict
  Downloading xmltodict-0.14.2-py2.py3-none-any.whl.metadata (8.0 kB)
Downloading xmltodict-0.14.2-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.14.2

In [13]:
# xml 데이터를 dict 형태로 바꿔주는 xmltodict 라이브러리 로드
import xmltodict

In [15]:
dict_data = xmltodict.parse(response.content)
dict_data

{'RegistrationPopulationByRegion': {'head': {'totalCount': '284',
   'numOfRows': '30',
   'pageNo': '1',
   'type': 'XML',
   'RESULT': {'resultCode': 'INFO-0', 'resultMsg': 'NOMAL SERVICE'}},
  'row': [{'wrttimeid': '2008',
    'seq': '1',
    'regi': '계',
    'population_tot': '49540367',
    'population_man': '24822897',
    'population_female': '24717470',
    'houshol': '19005339'},
   {'wrttimeid': '2008',
    'seq': '2',
    'regi': '서울',
    'population_tot': '10200827',
    'population_man': '5061809',
    'population_female': '5139018',
    'houshol': '4097562'},
   {'wrttimeid': '2008',
    'seq': '3',
    'regi': '부산',
    'population_tot': '3564577',
    'population_man': '1773154',
    'population_female': '1791423',
    'houshol': '1311724'},
   {'wrttimeid': '2008',
    'seq': '4',
    'regi': '대구',
    'population_tot': '2492724',
    'population_man': '1246873',
    'population_female': '1245851',
    'houshol': '894969'},
   {'wrttimeid': '2008',
    'seq': '5',
    'regi': '인천',
    'population_tot': '2692696',
    'population_man': '1356473',
    'population_female': '1336223',
    'houshol': '1014755'},
   {'wrttimeid': '2008',
    'seq': '6',
    'regi': '광주',
    'population_tot': '1422702',
    'population_man': '705817',
    'population_female': '716885',
    'houshol': '513021'},
   {'wrttimeid': '2008',
    'seq': '7',
    'regi': '대전',
    'population_tot': '1480895',
    'population_man': '741611',
    'population_female': '739284',
    'houshol': '531682'},
   {'wrttimeid': '2008',
    'seq': '8',
    'regi': '울산',
    'population_tot': '1112407',
    'population_man': '572815',
    'population_female': '539592',
    'houshol': '389735'},
   {'wrttimeid': '2008',
    'seq': '9',
    'regi': '경기',
    'population_tot': '11292264',
    'population_man': '5690673',
    'population_female': '5601591',
    'houshol': '4284475'},
   {'wrttimeid': '2008',
    'seq': '10',
    'regi': '강원',
    'population_tot': '1508575',
    'population_man': '759282',
    'population_female': '749293',
    'houshol': '606950'},
   {'wrttimeid': '2008',
    'seq': '11',
    'regi': '충북',
    'population_tot': '1519587',
    'population_man': '765398',
    'population_female': '754189',
    'houshol': '587411'},
   {'wrttimeid': '2008',
    'seq': '12',
    'regi': '충남',
    'population_tot': '2018537',
    'population_man': '1020317',
    'population_female': '998220',
    'houshol': '812871'},
   {'wrttimeid': '2008',
    'seq': '13',
    'regi': '전북',
    'population_tot': '1855772',
    'population_man': '924770',
    'population_female': '931002',
    'houshol': '710550'},
   {'wrttimeid': '2008',
    'seq': '14',
    'regi': '전남',
    'population_tot': '1919000',
    'population_man': '958491',
    'population_female': '960509',
    'houshol': '773087'},
   {'wrttimeid': '2008',
    'seq': '15',
    'regi': '경북',
    'population_tot': '2673931',
    'population_man': '1343199',
    'population_female': '1330732',
    'houshol': '1058099'},
   {'wrttimeid': '2008',
    'seq': '16',
    'regi': '경남',
    'population_tot': '3225255',
    'population_man': '1622127',
    'population_female': '1603128',
    'houshol': '1203767'},
   {'wrttimeid': '2008',
    'seq': '17',
    'regi': '제주',
    'population_tot': '560618',
    'population_man': '280088',
    'population_female': '280530',
    'houshol': '214681'},
   {'wrttimeid': '2009',
    'seq': '1',
    'regi': '계',
    'population_tot': '49773145',
    'population_man': '24929939',
    'population_female': '24843206',
    'houshol': '19261292'},
   {'wrttimeid': '2009',
    'seq': '2',
    'regi': '서울',
    'population_tot': '10208302',
    'population_man': '5059269',
    'population_female': '5149033',
    'houshol': '4116660'},
   {'wrttimeid': '2009',
    'seq': '3',
    'regi': '부산',
    'population_tot': '3543030',
    'population_man': '1761202',
    'population_female': '1781828',
    'houshol': '1323771'},
   {'wrttimeid': '2009',
    'seq': '4',
    'regi': '대구',
    'population_tot': '2489781',
    'population_man': '1243878',
    'population_female': '1245903',
    'houshol': '906470'},
   {'wrttimeid': '2009',
    'seq': '5',
    'regi': '인천',
    'population_tot': '2710579',
    'population_man': '1364809',
    'population_female': '1345770',
    'houshol': '1026936'},
   {'wrttimeid': '2009',
    'seq': '6',
    'regi': '광주',
    'population_tot': '1433640',
    'population_man': '711091',
    'population_female': '722549',
    'houshol': '524093'},
   {'wrttimeid': '2009',
    'seq': '7',
    'regi': '대전',
    'population_tot': '1484180',
    'population_man': '743121',
    'population_female': '741059',
    'houshol': '538100'},
   {'wrttimeid': '2009',
    'seq': '8',
    'regi': '울산',
    'population_tot': '1114866',
    'population_man': '573607',
    'population_female': '541259',
    'houshol': '394364'},
   {'wrttimeid': '2009',
    'seq': '9',
    'regi': '경기',
    'population_tot': '11460610',
    'population_man': '5773569',
    'population_female': '5687041',
    'houshol': '4359467'},
   {'wrttimeid': '2009',
    'seq': '10',
    'regi': '강원',
    'population_tot': '1512870',
    'population_man': '761270',
    'population_female': '751600',
    'houshol': '617693'},
   {'wrttimeid': '2009',
    'seq': '11',
    'regi': '충북',
    'population_tot': '1527478',
    'population_man': '769968',
    'population_female': '757510',
    'houshol': '599204'},
   {'wrttimeid': '2009',
    'seq': '12',
    'regi': '충남',
    'population_tot': '2037582',
    'population_man': '1029725',
    'population_female': '1007857',
    'houshol': '827846'},
   {'wrttimeid': '2009',
    'seq': '13',
    'regi': '전북',
    'population_tot': '1854508',
    'population_man': '924480',
    'population_female': '930028',
    'houshol': '720993'}]}}

In [16]:
import pprint

In [17]:
pprint.pprint(dict_data)

{'RegistrationPopulationByRegion': {'head': {'RESULT': {'resultCode': 'INFO-0',
                                                        'resultMsg': 'NOMAL '
                                                                     'SERVICE'},
                                             'numOfRows': '30',
                                             'pageNo': '1',
                                             'totalCount': '284',
                                             'type': 'XML'},
                                    'row': [{'houshol': '19005339',
                                             'population_female': '24717470',
                                             'population_man': '24822897',
                                             'population_tot': '49540367',
                                             'regi': '계',
                                             'seq': '1',
                                             'wrttimeid': '2008'},
                                            {'houshol': '4097562',
                                             'population_female': '5139018',
                                             'population_man': '5061809',
                                             'population_tot': '10200827',
                                             'regi': '서울',
                                             'seq': '2',
                                             'wrttimeid': '2008'},
                                            {'houshol': '1311724',
                                             'population_female': '1791423',
                                             'population_man': '1773154',
                                             'population_tot': '3564577',
                                             'regi': '부산',
                                             'seq': '3',
                                             'wrttimeid': '2008'},
                                            {'houshol': '894969',
                                             'population_female': '1245851',
                                             'population_man': '1246873',
                                             'population_tot': '2492724',
                                             'regi': '대구',
                                             'seq': '4',
                                             'wrttimeid': '2008'},
                                            {'houshol': '1014755',
                                             'population_female': '1336223',
                                             'population_man': '1356473',
                                             'population_tot': '2692696',
                                             'regi': '인천',
                                             'seq': '5',
                                             'wrttimeid': '2008'},
                                            {'houshol': '513021',
                                             'population_female': '716885',
                                             'population_man': '705817',
                                             'population_tot': '1422702',
                                             'regi': '광주',
                                             'seq': '6',
                                             'wrttimeid': '2008'},
                                            {'houshol': '531682',
                                             'population_female': '739284',
                                             'population_man': '741611',
                                             'population_tot': '1480895',
                                             'regi': '대전',
                                             'seq': '7',
                                             'wrttimeid': '2008'},
                                            {'houshol': '389735',
                                             'population_female': '539592',
                                             'population_man': '572815',
                                             'population_tot': '1112407',
                                             'regi': '울산',
                                             'seq': '8',
                                             'wrttimeid': '2008'},
                                            {'houshol': '4284475',
                                             'population_female': '5601591',
                                             'population_man': '5690673',
                                             'population_tot': '11292264',
                                             'regi': '경기',
                                             'seq': '9',
                                             'wrttimeid': '2008'},
                                            {'houshol': '606950',
                                             'population_female': '749293',
                                             'population_man': '759282',
                                             'population_tot': '1508575',
                                             'regi': '강원',
                                             'seq': '10',
                                             'wrttimeid': '2008'},
                                            {'houshol': '587411',
                                             'population_female': '754189',
                                             'population_man': '765398',
                                             'population_tot': '1519587',
                                             'regi': '충북',
                                             'seq': '11',
                                             'wrttimeid': '2008'},
                                            {'houshol': '812871',
                                             'population_female': '998220',
                                             'population_man': '1020317',
                                             'population_tot': '2018537',
                                             'regi': '충남',
                                             'seq': '12',
                                             'wrttimeid': '2008'},
                                            {'houshol': '710550',
                                             'population_female': '931002',
                                             'population_man': '924770',
                                             'population_tot': '1855772',
                                             'regi': '전북',
                                             'seq': '13',
                                             'wrttimeid': '2008'},
                                            {'houshol': '773087',
                                             'population_female': '960509',
                                             'population_man': '958491',
                                             'population_tot': '1919000',
                                             'regi': '전남',
                                             'seq': '14',
                                             'wrttimeid': '2008'},
                                            {'houshol': '1058099',
                                             'population_female': '1330732',
                                             'population_man': '1343199',
                                             'population_tot': '2673931',
                                             'regi': '경북',
                                             'seq': '15',
                                             'wrttimeid': '2008'},
                                            {'houshol': '1203767',
                                             'population_female': '1603128',
                                             'population_man': '1622127',
                                             'population_tot': '3225255',
                                             'regi': '경남',
                                             'seq': '16',
                                             'wrttimeid': '2008'},
                                            {'houshol': '214681',
                                             'population_female': '280530',
                                             'population_man': '280088',
                                             'population_tot': '560618',
                                             'regi': '제주',
                                             'seq': '17',
                                             'wrttimeid': '2008'},
                                            {'houshol': '19261292',
                                             'population_female': '24843206',
                                             'population_man': '24929939',
                                             'population_tot': '49773145',
                                             'regi': '계',
                                             'seq': '1',
                                             'wrttimeid': '2009'},
                                            {'houshol': '4116660',
                                             'population_female': '5149033',
                                             'population_man': '5059269',
                                             'population_tot': '10208302',
                                             'regi': '서울',
                                             'seq': '2',
                                             'wrttimeid': '2009'},
                                            {'houshol': '1323771',
                                             'population_female': '1781828',
                                             'population_man': '1761202',
                                             'population_tot': '3543030',
                                             'regi': '부산',
                                             'seq': '3',
                                             'wrttimeid': '2009'},
                                            {'houshol': '906470',
                                             'population_female': '1245903',
                                             'population_man': '1243878',
                                             'population_tot': '2489781',
                                             'regi': '대구',
                                             'seq': '4',
                                             'wrttimeid': '2009'},
                                            {'houshol': '1026936',
                                             'population_female': '1345770',
                                             'population_man': '1364809',
                                             'population_tot': '2710579',
                                             'regi': '인천',
                                             'seq': '5',
                                             'wrttimeid': '2009'},
                                            {'houshol': '524093',
                                             'population_female': '722549',
                                             'population_man': '711091',
                                             'population_tot': '1433640',
                                             'regi': '광주',
                                             'seq': '6',
                                             'wrttimeid': '2009'},
                                            {'houshol': '538100',
                                             'population_female': '741059',
                                             'population_man': '743121',
                                             'population_tot': '1484180',
                                             'regi': '대전',
                                             'seq': '7',
                                             'wrttimeid': '2009'},
                                            {'houshol': '394364',
                                             'population_female': '541259',
                                             'population_man': '573607',
                                             'population_tot': '1114866',
                                             'regi': '울산',
                                             'seq': '8',
                                             'wrttimeid': '2009'},
                                            {'houshol': '4359467',
                                             'population_female': '5687041',
                                             'population_man': '5773569',
                                             'population_tot': '11460610',
                                             'regi': '경기',
                                             'seq': '9',
                                             'wrttimeid': '2009'},
                                            {'houshol': '617693',
                                             'population_female': '751600',
                                             'population_man': '761270',
                                             'population_tot': '1512870',
                                             'regi': '강원',
                                             'seq': '10',
                                             'wrttimeid': '2009'},
                                            {'houshol': '599204',
                                             'population_female': '757510',
                                             'population_man': '769968',
                                             'population_tot': '1527478',
                                             'regi': '충북',
                                             'seq': '11',
                                             'wrttimeid': '2009'},
                                            {'houshol': '827846',
                                             'population_female': '1007857',
                                             'population_man': '1029725',
                                             'population_tot': '2037582',
                                             'regi': '충남',
                                             'seq': '12',
                                             'wrttimeid': '2009'},
                                            {'houshol': '720993',
                                             'population_female': '930028',
                                             'population_man': '924480',
                                             'population_tot': '1854508',
                                             'regi': '전북',
                                             'seq': '13',
                                             'wrttimeid': '2009'}]}}

In [19]:
pprint.pprint(dict_data['RegistrationPopulationByRegion']['row'])

[{'houshol': '19005339',
  'population_female': '24717470',
  'population_man': '24822897',
  'population_tot': '49540367',
  'regi': '계',
  'seq': '1',
  'wrttimeid': '2008'},
 {'houshol': '4097562',
  'population_female': '5139018',
  'population_man': '5061809',
  'population_tot': '10200827',
  'regi': '서울',
  'seq': '2',
  'wrttimeid': '2008'},
 {'houshol': '1311724',
  'population_female': '1791423',
  'population_man': '1773154',
  'population_tot': '3564577',
  'regi': '부산',
  'seq': '3',
  'wrttimeid': '2008'},
 {'houshol': '894969',
  'population_female': '1245851',
  'population_man': '1246873',
  'population_tot': '2492724',
  'regi': '대구',
  'seq': '4',
  'wrttimeid': '2008'},
 {'houshol': '1014755',
  'population_female': '1336223',
  'population_man': '1356473',
  'population_tot': '2692696',
  'regi': '인천',
  'seq': '5',
  'wrttimeid': '2008'},
 {'houshol': '513021',
  'population_female': '716885',
  'population_man': '705817',
  'population_tot': '1422702',
  'regi': '광주',
  'seq': '6',
  'wrttimeid': '2008'},
 {'houshol': '531682',
  'population_female': '739284',
  'population_man': '741611',
  'population_tot': '1480895',
  'regi': '대전',
  'seq': '7',
  'wrttimeid': '2008'},
 {'houshol': '389735',
  'population_female': '539592',
  'population_man': '572815',
  'population_tot': '1112407',
  'regi': '울산',
  'seq': '8',
  'wrttimeid': '2008'},
 {'houshol': '4284475',
  'population_female': '5601591',
  'population_man': '5690673',
  'population_tot': '11292264',
  'regi': '경기',
  'seq': '9',
  'wrttimeid': '2008'},
 {'houshol': '606950',
  'population_female': '749293',
  'population_man': '759282',
  'population_tot': '1508575',
  'regi': '강원',
  'seq': '10',
  'wrttimeid': '2008'},
 {'houshol': '587411',
  'population_female': '754189',
  'population_man': '765398',
  'population_tot': '1519587',
  'regi': '충북',
  'seq': '11',
  'wrttimeid': '2008'},
 {'houshol': '812871',
  'population_female': '998220',
  'population_man': '1020317',
  'population_tot': '2018537',
  'regi': '충남',
  'seq': '12',
  'wrttimeid': '2008'},
 {'houshol': '710550',
  'population_female': '931002',
  'population_man': '924770',
  'population_tot': '1855772',
  'regi': '전북',
  'seq': '13',
  'wrttimeid': '2008'},
 {'houshol': '773087',
  'population_female': '960509',
  'population_man': '958491',
  'population_tot': '1919000',
  'regi': '전남',
  'seq': '14',
  'wrttimeid': '2008'},
 {'houshol': '1058099',
  'population_female': '1330732',
  'population_man': '1343199',
  'population_tot': '2673931',
  'regi': '경북',
  'seq': '15',
  'wrttimeid': '2008'},
 {'houshol': '1203767',
  'population_female': '1603128',
  'population_man': '1622127',
  'population_tot': '3225255',
  'regi': '경남',
  'seq': '16',
  'wrttimeid': '2008'},
 {'houshol': '214681',
  'population_female': '280530',
  'population_man': '280088',
  'population_tot': '560618',
  'regi': '제주',
  'seq': '17',
  'wrttimeid': '2008'},
 {'houshol': '19261292',
  'population_female': '24843206',
  'population_man': '24929939',
  'population_tot': '49773145',
  'regi': '계',
  'seq': '1',
  'wrttimeid': '2009'},
 {'houshol': '4116660',
  'population_female': '5149033',
  'population_man': '5059269',
  'population_tot': '10208302',
  'regi': '서울',
  'seq': '2',
  'wrttimeid': '2009'},
 {'houshol': '1323771',
  'population_female': '1781828',
  'population_man': '1761202',
  'population_tot': '3543030',
  'regi': '부산',
  'seq': '3',
  'wrttimeid': '2009'},
 {'houshol': '906470',
  'population_female': '1245903',
  'population_man': '1243878',
  'population_tot': '2489781',
  'regi': '대구',
  'seq': '4',
  'wrttimeid': '2009'},
 {'houshol': '1026936',
  'population_female': '1345770',
  'population_man': '1364809',
  'population_tot': '2710579',
  'regi': '인천',
  'seq': '5',
  'wrttimeid': '2009'},
 {'houshol': '524093',
  'population_female': '722549',
  'population_man': '711091',
  'population_tot': '1433640',
  'regi': '광주',
  'seq': '6',
  'wrttimeid': '2009'},
 {'houshol': '538100',
  'population_female': '741059',
  'population_man': '743121',
  'population_tot': '1484180',
  'regi': '대전',
  'seq': '7',
  'wrttimeid': '2009'},
 {'houshol': '394364',
  'population_female': '541259',
  'population_man': '573607',
  'population_tot': '1114866',
  'regi': '울산',
  'seq': '8',
  'wrttimeid': '2009'},
 {'houshol': '4359467',
  'population_female': '5687041',
  'population_man': '5773569',
  'population_tot': '11460610',
  'regi': '경기',
  'seq': '9',
  'wrttimeid': '2009'},
 {'houshol': '617693',
  'population_female': '751600',
  'population_man': '761270',
  'population_tot': '1512870',
  'regi': '강원',
  'seq': '10',
  'wrttimeid': '2009'},
 {'houshol': '599204',
  'population_female': '757510',
  'population_man': '769968',
  'population_tot': '1527478',
  'regi': '충북',
  'seq': '11',
  'wrttimeid': '2009'},
 {'houshol': '827846',
  'population_female': '1007857',
  'population_man': '1029725',
  'population_tot': '2037582',
  'regi': '충남',
  'seq': '12',
  'wrttimeid': '2009'},
 {'houshol': '720993',
  'population_female': '930028',
  'population_man': '924480',
  'population_tot': '1854508',
  'regi': '전북',
  'seq': '13',
  'wrttimeid': '2009'}]

In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame(dict_data['RegistrationPopulationByRegion']['row'])
df.head()

  wrttimeid seq regi population_tot population_man population_female   houshol
0      2008   1    계       49540367       24822897          24717470  19005339
1      2008   2   서울       10200827        5061809           5139018   4097562
2      2008   3   부산        3564577        1773154           1791423   1311724
3      2008   4   대구        2492724        1246873           1245851    894969
4      2008   5   인천        2692696        1356473           1336223   1014755

In [ ]:
# csv로 저장
df.to_csv('./인구정보.csv', index=False)

In [ ]:
# df에서 seq 컬럼 삭제
df.drop('seq', axis=1, inplace=True)
df.head()

  wrttimeid regi population_tot population_man population_female   houshol
0      2008    계       49540367       24822897          24717470  19005339
1      2008   서울       10200827        5061809           5139018   4097562
2      2008   부산        3564577        1773154           1791423   1311724
3      2008   대구        2492724        1246873           1245851    894969
4      2008   인천        2692696        1356473           1336223   1014755

In [28]:
# df에서 wrttimeid 컬럼 이름을 year로 변경
df.rename(
    columns = {
        'wrttimeid' : 'year'
    },
    inplace=True
)
df.head()

   year regi population_tot population_man population_female   houshol
0  2008    계       49540367       24822897          24717470  19005339
1  2008   서울       10200827        5061809           5139018   4097562
2  2008   부산        3564577        1773154           1791423   1311724
3  2008   대구        2492724        1246873           1245851    894969
4  2008   인천        2692696        1356473           1336223   1014755

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               30 non-null     object
 1   regi               30 non-null     object
 2   population_tot     30 non-null     object
 3   population_man     30 non-null     object
 4   population_female  30 non-null     object
 5   houshol            30 non-null     object
dtypes: object(6)
memory usage: 1.5+ KB

In [30]:
# database 전체 가져오기
# import database    
# database 내의 특정 클래스만 가져오기
from database import MyDB

In [31]:
db1 = MyDB()

In [34]:
table_query = '''
    CREATE TABLE `population`
    (
        `No` int auto_increment primary key,
        `year` int not null,
        `regi` varchar(32) not null,
        `total` int not null,
        `man` int not null,
        `female` int not null,
        `houshol` int not null
    )
'''

In [35]:
db1.sql_query(table_query)

Query OK!

In [46]:
insert_query = '''
    INSERT INTO
    `population`
    (`year`, `regi`, `total`, `man`, `female`, `houshol`)
    VALUES  
    (%s, %s, %s, %s, %s, %s)
'''

In [44]:
list(df.iloc[0, ])

['2008', '계', '49540367', '24822897', '24717470', '19005339']

In [ ]:
# db1.sql_query(insert_query, *list(df.iloc[0, ]))
# 인자에 * -> 들어오는 데이터가 하나가 아닌 여러 개의 데이터임을 나타냄

Query OK!

In [50]:
for idx in range(0, len(df)):
    db1.sql_query(insert_query, *list(df.iloc[idx, ]))
    db1.commit_db()

Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료
Query OK!
커밋 완료
Close 완료

In [ ]:
# DataFrame을 sql에 대입하기 위한 라이브러리 설치
# !pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp39-cp39-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.3-cp39-cp39-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\toqha\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy) (4.13.2)
Downloading sqlalchemy-2.0.41-cp39-cp39-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 57.8 MB/s eta 0:00:00
Downloading greenlet-3.2.3-cp39-cp39-win_amd64.whl (296 kB)
Installing collected packages: greenlet, sqlalchemy

   ---------------------------------------- 0/2 [greenlet]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.2.3 sqlalchemy-2.0.41

In [53]:
# sql server와의 연결 주소 생성
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:1234@localhost:3306/ubion')

In [ ]:
# to_sql()
# name : 테이블 이름 지정
# con : 데이터베이스 주소
# index : 인덱스 포함 여부(기본값: True)
# if_exists : replace(대체: 삭제->재생성)
#             append(데이터 추가 -> 행 추가)
#             fail(기본값, 실패 처리 -> 기존 테이블 유지, 새로운 데이터 대입X)
df.to_sql(
    name = 'test_table',
    con = engine
)

30